.PayMethods {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .picked-method {
        font-size: 18.4px;
        color: #3b3b3b;
        font-weight: bold;
    }
    .card-met {
        width: 100%;
        height: 48px;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 20px;

        @media (min-width: 1000px) {
            width: 335px;
        }

        .cnt-icon {
            .icon-n {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.paypal-l {
                width: 74px;
                height: 42px;
            }

            &.google-e {
                width: 50px;
                height: 50px;
            }

            &.apple-e {
                width: 40px;
                height: 40px;
            }
        }

        .mt-text {
            font-size: 11.04px;
            color: #8a8a8a;
        }
    }
}
