.profile {
    position: relative;
    background-color: #fff;
    object-fit: contain;
    width: 200px;
    height: 200px;

    .profile-pencil{
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        right: -10px;
        top: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #df1683;

        cursor: pointer;
    }
}