.FrecuentQuestions{
    width: 100%;
    padding: 75px 11px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    @media (min-width: 1000px) {
        padding: 17px 50px 0;
        height: 922px;
    }

    .backColor {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 800px;
        z-index: -1;
        background: linear-gradient(
            90deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );

        @media (min-width: 1000px) {
            top: 0;
        }

        .backWhite {
            width: 100%;
            height: 578px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .TermsFrecuent{
        height: 20px;
        font-family:'Metropolis';
        font-size: 20px;
        color: #ffffff;
        padding: 49px 23px;
        text-align: center;
        font-weight: 900;

        @media (min-width: 1000px) {
            padding: 20px 23px 46px;
        }

        .Return{
            position: absolute;
            top: 86px;
            left: 10px;

            @media (min-width: 1000px){
                top: 30px;
                left: 48px;
                cursor: pointer;
            }
        }
    }

    .ContainerFrecuent{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: #ffffff;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        font-family: 'Metropolis';
        font-size: 14px;
        color: #8a8a8a;
        line-height: 16px;
        text-align: justify;
        overflow: auto;
        display: flex;
        justify-content: center;

        .faq{
            width: 72%;
            @media (max-width: 470px){
                width: 100%
            }

            .p-accordion {
                display: flex;
                flex-direction: column;
                grid-gap: 10px;
                margin: 53px auto;
                padding: 10px;
                width: 100%;
                height: 40vh;
                @media screen and (max-width: 1230px) {
                    width: 90%;
                    margin: 18px auto;
                    height: 60vh;
                }
                .p-accordion-header {
                    &:hover {
                        .p-accordion-header-link {
                            color: #3b3b3b !important;
                            background-color: #ffffff !important;
                        }
                    }
                    .p-accordion-toggle-icon{
                        margin-right: 0.5rem;
                        transform: rotate(90deg);
                    }
                    .p-accordion-header-link {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        padding: 0 20px;
                        border: none;
                        border-radius: 20px !important;
                        background-color: #fff;
                        // box-shadow: 1px 1px 10px rgba(0,0,0,0.15) !important;
                        height: 37px;
                        color: #000000;
                        &:focus {
                            box-shadow: none;
                        }
                        .p-accordion-header-text {
                            font-weight: 500;
                            font-size: 1.3rem;
                            font-size: 14px;
                            @media screen and (max-width: '1024px') {
                                font-size: 10px;
                            }
                        }
                        .pi {
                            font-size: 0.8rem;
                        }
                    }
                    &.p-highlight .p-accordion-header-link {
                        color: #df1683 !important;
                        background: #ffffff !important;
                    }
                    &.p-highlight .p-accordion-header-link .p-accordion-toggle-icon {
                        transform: rotate(180deg);
                    }
                }
                .p-accordion-content {
                    margin: 0 auto;
                    border: none;
                    width: 90%;
                    height: 83px;
                    font-family: Metropolis;
                    font-size: 13px;
                    color: #8a8a8a;
                    text-decoration: none solid rgb(138, 138, 138);
                    line-height: 16px;
                    text-align: justify;
                    @media screen and (max-width: '1230px') {
                        padding: 0;
                    }
                    @media (max-width: 470px){
                        width: 83%;
                        height: 149px;
                    }
                }
            }
        }

    }
}

