.RateExperience {
    width: 100%;
    position: relative;
    padding: 75px 0 0;

    @media (min-width: 1000px) {
        padding: 0 0 0;
    }

    .bg-vg {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 800px;
        background: linear-gradient(78deg, #3a8dde 3%, #8331a7 47%, #df1683 100%);
        
        .bg-white1 {
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100% );
            width: 100%;
            height: 578px;
        }

        @media (min-width: 1000px) {
            top: 0;
        }
    }

    .cardBodyrate{
        height: 100vh;
        width: 100%;
        padding: 72px 10px 0;

        @media (min-width: 1000px) {
            padding: 119px 50px 0;
        }

        .bg-cardWhite-rate{
            width: 100%;
            height: 100%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background: #fff;
            padding: 21px 21px;
            display: flex;
            flex-direction: column;

            @media (min-width: 1000px) {
                align-items: center;
                padding: 59px 0 0;
                gap: 24px;
            }

            .imgTarget{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 22px;

                .cnt-des{
                    display: flex;
                    gap: 19px;
                    align-items: center;

                    @media (min-width: 1000px) {
                        width: 622px;
                    }

                    .cnt-img{
                        width: 76px;
                        height: 79px;
                        border-radius: 15px;

                        .img{
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                        }
                    }

                    .descrip{
                        width: 124px;
                        height: 16px;
                        font-family: "Metropolis";
                        font-size: 14.72px;
                        color: #3b3b3b;
                        text-decoration: none solid rgb(59, 59, 59);
                        font-weight: bold;
                    }
                }

                .cnt-rate{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    @media (min-width: 1000px) {
                        width: 622px;
                    }

                    .rate{
                        font-family: "Metropolis";
                        font-size: 11.04px;
                        color: #8a8a8a;
                        padding-left: 28px;
                    }
                }
            }

            .textArea-l{
                display: flex;
                flex-direction: column;
                gap: 72px;

                .secct-area{
                    height: 178px;

                    @media (min-width: 1000px) {
                        width: 622px;
                    }
                }

                .cnt-btns{
                    display: flex;
                    gap: 19px;

                    .white{
                        height: 40px;
                    }

                    .degradado{
                        height: 40px;
                    }
                    
                }
            }


        }
    }

}