.AuthHeader {
    width: 100%;
    height: 75px;
    background: #fff;
    padding: 0 13px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;

   

    .aucont{
        display: flex;
        gap: 20px;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #faf7f7;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

        .icon {
            width: 28px;
            height: 28px;
        }

        .iconp {
            width: 18px;
            height: 20px;
        }
    }

 


}

@media screen and (min-width: 1300px) {
    .AuthHeader{
        justify-content: flex-end;
        padding-left: 50px !important;
        .hidden{
            display: none;
        }
    }
}

