.WelcomeRegistration {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 65px;

    .line-change {
        position: absolute;
        top: 0;
        left: 0;
        height: 7px;
        width: 100%;
        background: linear-gradient(
            120deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );
    }

    .welcome-body {
        padding: 0 21px;

        .wsecct1 {
            .wsecct-1-title {
                font-family: "Metropolis";
                font-size: 18.4px;
                color: #3b3b3b;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
            }

            .wsecct-1-descrip {
                margin-top: 8px;
                font-family: "Metropolis";
                font-size: 12.88px;
                color: #8a8a8a;
                line-height: 18px;
                text-align: center;
                font-weight: 400;
            }
        }

        .wsecct2 {
            width: 334px;
            height: 334px;
            margin: 0 auto;
            margin-top: 39px;

            .wsecct-2-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
