.Rute {
    padding: 72px 0;
    height: 100vh;
    width: 100%;
    position: relative;
    // background-image: url("../../../assets/Auth/fondoRute.png");
    background-size: 100%;
    z-index: 9;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 78px 0 0 0px;
    overflow-y: auto;

    .found {
        width: 100%;
    }

    .mt {
        @media (max-width: 768px) {
            margin-top: -255px;
        }

        @media (max-width: 480px) {
            margin-top: -197px;
        }

        margin-top: -500px;
        position: relative;
    }

    .barFilter {
        display: flex;


        .categories {
            @media (max-width: 768px) {
                gap: 0px;
            }

            @media (max-width: 480px) {
                gap: 0;
                max-width: 189px;
                height: 51px;
                padding: 0 9px;


                img {
                    width: 30px;
                    height: 30px;
                }
            }

            display: flex;
            gap: 31px;
            max-width: 243px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 73px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-top: none;
            cursor: pointer;
            padding: 0 12px;
        }

        .border-left {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .border-right {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

    }

    .titleMain {
        @media (max-width: 480px) {
            position: absolute;
            top: -124px;
            left: 87px;
            font-size: 30px;
        }

        text-align: center;
        font-family: Merriweather;
        font-size: 50px;
        color: #ffffff;
        font-weight: 700;
        line-height: 30px;
        margin-top: 42px;
    }

    .cMain {
        margin: 177px auto 20px auto;
        max-width: 1456px;
        width: 100%;
        height: auto;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 50px;

        .Filter {
            @media (max-width: 1800px) {
                top: 0px;
                right: 0px;
            }

            @media (max-width: 768px) {
                top: -315px;
                right: -34px;
            }

            position: absolute;
            top: 8px;
            right: 94px;
            margin-left: 100px;
        }

        .c_header {
            @media (max-width: 480px) {
                flex-direction: column;
                gap: 20px;
            }

            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            position: relative;

            // .categories {
            //     @media (max-width: 768px) {
            //         gap: 0px;
            //     }

            //     display: flex;
            //     gap: 31px;
            //     max-width: 243px;
            //     align-items: center;
            //     justify-content: center;
            //     width: 100%;
            //     height: 73px;
            //     background-color: #ffffff;
            //     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            //     border: 1px solid rgba(0, 0, 0, 0.1);
            //     border-top: none;
            //     cursor: pointer;
            // }

            // .border-left {
            //     border-top-left-radius: 15px;
            //     border-bottom-left-radius: 15px;
            // }

            // .border-right {
            //     border-top-right-radius: 15px;
            //     border-bottom-right-radius: 15px;
            // }

            .addW {
                height: 355px !important;
                transition: height 0.2s linear;
            }

            .disH {
                height: 0 !important;
                transition: height 0.2s linear;
            }

            .modal1 {
                @media (max-width: 480px) {
                    position: absolute;
                    top: 52px;
                    padding: 20px 10px;
                    grid-template-columns: repeat(2, 1fr);
                    left: -33px;
                    gap: 0px 15px;
                    min-width: 344px;

                }

                position: absolute;
                top: 73px;
                padding: 20px 40px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                left: 65px;
                gap: 0px 230px;
                max-width: 1000px;
                width: 100%;
                height: 0;
                border-radius: 15px;
                background-color: #ffffff;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 9999;

                .radioOption {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .addW2 {
                height: 200px !important;
                transition: height 0.3s linear;
            }

            .modal2 {
                position: absolute;
                justify-content: center;
                top: 73px;
                padding: 20px 40px;
                display: flex;
                gap: 20px;
                left: 65px;
                gap: 0px 230px;
                max-width: 1000px;
                width: 100%;
                height: 0px;
                border-radius: 15px;
                background-color: #ffffff;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 9999;

                .icons {
                    display: grid;
                    place-items: center;
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .c_btnSearch {
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            margin-left: 33px;
            display: flex;
            align-items: center;

            .btnSearch {
                display: grid;
                place-items: center;
                width: 177px;
                height: 40px;
                border-radius: 30px;
                background-color: #df1683;
                background-image: linear-gradient(90deg,
                        #df1683 0%,
                        #a11260 100%);
                background-position: center center;
                background-size: cover;
                font-family: Metropolis;
                font-size: 23px;
                color: #ffffff;
                text-decoration: none solid rgb(255, 255, 255);
                text-align: center;
                cursor: pointer;
            }
        }

        .c_setting {
            margin-left: 33px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
    }

    .dataRute {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-right: 100px;

        p {
            font-family: Metropolis;
            font-size: 18px;
            color: #8a8a8a;
            font-weight: 600;
            line-height: 18px;
        }

        .btns {
            display: flex;
            gap: 10px;

            .solid {
                width: 147px;
                height: 40px;
                margin-top: 9px;
            }

            .route {
                width: 147px;
                height: 40px;
                margin-top: 9px;
                background-color: #faf7f7 !important;
                color: #df1683 !important;
            }
        }
    }

    .Maps {
        position: relative;

        .iconMap {
            position: absolute;
            z-index: 9999;
            right: 30px;
            top: 77px;
            cursor: pointer;
        }
    }

    .routesText {
        font-family: Metropolis;
        font-size: 18px;
        color: #3b3b3b;
        text-align: center;
    }

    .routesSave {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 92px;
    }

    .suggested {
        @media (max-width: 1500px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px !important;
            padding: 0;
            margin: 0 auto;
        }

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px !important;
        padding: 0 250px;
        margin-top: 20px;
    }

    .p-checkbox .p-checkbox-box .p-checkbox-icon {
        width: 10px !important;
        height: 10px !important;
        background: white;
        border-radius: 50% !important;
        color: #ffffff !important;
        font-size: 0px !important;
    }

    .p-checkbox .p-checkbox-box {
        border-radius: 50% !important;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        background: white !important;
        color: white !important;
    }

    .pi-check {
        background: linear-gradient(120deg,
                #3a8dde 3%,
                #8331a7 47%,
                #df1683 100%) !important;
    }

    .p-carousel-container {
        max-width: 940px !important;
        width: 100% !important;
    }

    .p-carousel-items-container {
        gap: 10px;
    }

    .p-carousel-item {
        flex: 1 0 25.333333% !important;
    }

    .p-items-hidden .p-carousel-item {
        visibility: initial !important;
    }
}

.Cardxxx {
    width: 200px;
    border-radius: 15px;

    .CardsHome {
        position: relative;
        width: 100%;
        height: 157px;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;

        .card-img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }

        .item-reward {
            position: absolute;
            top: 13px;
            left: 15px;
            width: 37px;
            height: 37px;
        }

        .container-arrow {
            position: absolute;
            top: 0;
            right: 51px;
            width: 34px;
            height: 43px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #ffffff;

            display: flex;
            justify-content: center;
            align-items: center;
            // .item-arrow {
            // }
        }

        .container-points {
            position: absolute;
            top: 0;
            right: 13px;
            width: 34px;
            height: 43px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #df1683;
            font-size: 12px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cont-h-t {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            padding: 9px 8px;

            .container-ticket {
                width: 34px;
                height: 34px;
                border-radius: 20px;
                background-color: #ffc844;
                display: flex;
                justify-content: center;
                align-items: center;

                // .item-ticket {
                // }
            }

            .item-heart {
                width: 31px;
                display: flex;
                align-items: flex-end;

                // .color-heart {
                // }
            }
        }

        .manto-color {
            width: 211px;
            height: 218px;
            background: rgba(131, 49, 167, 0.2);
            border-radius: 15px;
            position: absolute;
            top: 218px;
            transition: all 0.5s;
        }

        &:hover {
            .manto-color {
                top: 0;
            }
        }
    }

    .container-values {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 16px;

        .contn-prices {
            display: flex;
            gap: 12px;
            align-items: center;

            .item-price {
                font-size: 15px;
                color: #df1683;
            }

            .item-price-real {
                font-size: 12px;
                color: #8a8a8a;
                text-decoration: line-through;
            }
        }

        .item-title {
            font-size: 13px;
            color: #3b3b3b;
            font-weight: bold;
        }

        .container-star {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            /* padding-right: 33px; */
            // padding-right: 52px;

            .item-values {
                font-size: 11px;
                color: #3b3b3b;
            }
        }
    }

    .container-vino-txt {
        margin-top: 16px;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .item-price-vino {
            font-size: 15px;
            color: #df1683;
        }

        .item-textVino {
            font-weight: 400;
            font-size: 14px;
            color: #3b3b3b;
        }
    }

    .solid {
        // width: 147px;
        width: 100%;
        height: 40px;
        margin-top: 9px;
    }
}

@media (max-width: 1000px) {
    .Cardxx {
        width: 155px;

        .CardsHome {
            height: 173px;

            .item-reward {
                width: 30px;
                height: 30px;
                top: 8px;
                left: 8px;
            }

            .container-arrow {
                width: 30px;
                height: 38px;
                right: 46px;
            }

            .container-points {
                width: 30px;
                height: 38px;
                right: 13px;
                font-size: 10.12px;
            }

            .container-ticket {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .manto-color {
                width: 155px;
                height: 173px;
            }
        }

        .container-values {
            padding-left: 6px;
            gap: 6px;

            .contn-prices {
                .item-price {
                    font-size: 13.8px;
                }

                .item-price-real {
                    font-size: 11.04px;
                }
            }
        }

        .item-title {
            font-size: 11.96px;
        }

        .container-star {
            // padding-right: 19px !important;

            .item-star {
                width: 15px;
                height: 15px;
            }
        }
    }
}