.ShowBlog {
    // padding: 41px 380px 212px 380px; Es es en el deskatop
    padding: 82px 20px 70px 20px;

    .ssecct1 {
        .ssecct-1-cont-img {
            width: 100%;
            height: 188px;
            display: flex;
            justify-content: center;
            align-items: center;

            .ssecct-1-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .ssecct-1-b {
            margin-top: 75px;
            width: 100%;

            .ssecct-1-sub {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 2px solid #000;

                height: 50px;

                .ssecct-1-nmas {
                    display: flex;
                    gap: 10px;

                    font-family: "Metropolis";
                    font-size: 12.88px;
                    color: #3b3b3b;
                    line-height: 37px;
                }

                .conqwe {
                    height: 24px;
                    position: relative;
                    transition: all 0.2s;

                    .ssecct-1-sub-img {
                        height: 100%;
                        z-index: 2;
                        position: relative;
                    }

                    .ssecct-1-modal-a {
                        position: absolute;
                        top: -5px;
                        right: 0;
                        width: 145px;
                        height: 30px;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        background-color: #3b3b3b;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                        // padding: 0 10px 0 29px;
                        gap: 10px;
                        z-index: 0;
                        opacity: 0;
                        transition: all 0.5s;
                        pointer-events: none;

                        &.share-hidenx {
                            opacity: 1;
                            pointer-events: all;
                        }

                        .modal-a {
                            font-family: "Metropolis";
                            font-size: 13.8px;
                            color: #fff;
                        }

                        .ShareWhite {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    .ssecct-1-modal-b {
                        position: absolute;
                        top: 23px;
                        right: 0;
                        background-color: #3b3b3b;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        height: 162px;
                        width: 145px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 8px 21px;
                        gap: 21px;
                        opacity: 0;
                        transition: all 0.5s;
                        pointer-events: none;

                        .modal-b-conta {
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            gap: 10px;

                            .modal-b-net {
                                font-family: "Metropolis";
                                font-size: 13.8px;
                                color: #ffffff;
                            }

                            .modal-b-networks {
                                width: 21px;
                                height: 21px;
                            }
                        }

                        &.opacitymodal {
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }

            .ssecct-1-networks {
                display: flex;
                gap: 5px;
                margin-top: 6px;

                .net-a {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    .icons-icons {
                        height: 20px;
                        width: 20px;
                    }

                    .eye {
                        width: 20px;
                        height: 13px;
                    }
                }
            }
        }
    }

    .ssecct2 {
        margin-top: 15px;
        .ssecct2-title {
            font-family: "Metropolis";
            font-size: 23px;
            color: #3b3b3b;
            text-decoration: none solid rgb(59, 59, 59);
            line-height: 20px;
        }
        .ssecct-2-descrip {
            margin-top: 20px;

            .favorite {
                margin-top: 25px;
                font-family: "Metropolis";
                font-size: 12px;
                color: #3b3b3b;
            }
        }
    }

    .ssecct3 {
        margin-top: 83px;

        .ssecct-3-img {
            width: 100%;
            height: 100%;
        }
    }

    .ssecct4 {
        .ssecct-4-comen {
            font-family: "Metropolis";
            font-size: 18.4px;
            color: #3b3b3b;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            padding: 10px 0;
            padding-left: 10px;
        }
        .ssecct-4-min-form {
            display: flex;

            gap: 22px;

            .ssecct-4-cont {
                width: 40px;
                height: 40px;

                .img-dfg {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .ssecct-4-in-btn {
                width: 100%;

                .textArea-4 {
                    height: 59px;
                }
                .ssecct-4-cont-gh {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .btns45 {
                        margin-top: 20px;
                        width: 180px;

                        .solid {
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    .ssecct5 {
        margin-top: 39px;
        .ssecct-5-cms {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 14px;

            .cms-5 {
                width: 40px;
                height: 40px;
                border-radius: 50%;

                .ssecct-5-img {
                    width: 1005;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .ssecct-5-come {
                font-family: "Metropolis";
                font-size: 14.72px;
                color: #3b3b3b;
            }

            .ssecct-5-line {
                margin-top: 8px;
                width: 100%;
                border-bottom: 2px solid #000;
            }
        }
    }

    .ssect6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 25px;

        .ssect-6-cards {
            width: 157px;
            position: relative;

            &:hover {
                .asdfg {
                    display: flex;
                }
            }

            .new-cards- {
                width: 100%;
                height: 166px;
            }

            .line-line-cards {
                margin: 10px 0;
                width: 100%;
                border-bottom: 2px solid #000;
            }

            .title-cardss {
                font-family: "Metropolis";
                font-size: 9.2px;
                color: #3b3b3b;
                font-weight: bold;
            }

            .asdfg {
                cursor: pointer;
                position: absolute;
                width: 68px;
                height: 31px;
                background-color: rgba(0, 0, 0, 0.8);
                top: calc(50% - 34px);
                left: calc(50% - 31px);
                color: #fff;
                display: none;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
            }
        }
    }
}

.Info {
    font-family: "Metropolis";
    font-size: 12px;
    color: #3b3b3b;
    text-decoration: none solid rgb(59, 59, 59);
    line-height: 20px;

    p {
        padding-left: 20px;
    }

    div {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
    .ShowBlog {
        padding: 90px 392px 212px 392px !important;

        .ssecct-1-cont-img {
            width: 100% !important;
            height: 651px !important;
        }

        .ssecct-1-sub {
            height: 68px !important;
        }

        .ssecct-1-nmas {
            font-size: 15.64px !important;
        }

        .conqwe {
            height: 38px !important;

            .ssecct-1-modal-a {
                width: 0 !important;
                height: 52px !important;
                padding-left: 30px !important;
                gap: 22px !important;

                &.share-hidenx {
                    width: 212px !important;
                }
            }

            .ssecct-1-modal-b {
                width: 212px !important;
                top: 46px !important;
                padding-right: 54px !important;
                padding-left: 33px !important;
                height: 203px !important;

                .modal-b-net {
                    font-size: 16.56px !important;
                }
                .modal-b-networks {
                    width: 30px !important;
                    height: 30px !important;
                }
            }

            .modal-a {
                font-size: 16.56px !important;
            }

            .ShareWhite {
                width: 24px !important;
                height: 24px !important;
            }
        }

        .ssecct2 {
            margin-top: 37px !important;

            .ssecct2-title {
                font-size: 32.2px !important;
            }

            .Info {
                font-size: 16.56px !important;
            }

            .favorite {
                font-size: 16.56px !important;
            }
        }

        .ssecct3 {
            .ssecct-3-img {
                width: 633px !important;
                height: 850px !important;
            }
        }

        .ssecct4 {
            margin-top: 90px !important;

            .ssecct-4-comen {
                padding: 15px 50px !important;
                font-size: 36.8px !important;
                font-weight: bold;
            }

            .ssecct-4-min-form {
                margin-top: 35px !important;
                padding: 0px 47px !important;

                .ssecct-4-cont {
                    width: 87px !important;
                    height: 87px !important;
                }

                .textArea-4 {
                    height: 71px !important;
                }
            }

            .ssecct-4-cont {
                width: 180px !important;
            }
        }

        .ssecct5 {
            padding: 0px 47px !important;

            .ssecct-5-cms {
                .cms-5 {
                    width: 58px !important;
                    height: 58px !important;
                }

                .ssecct-5-come {
                    font-size: 14.72px !important;
                }

                .ssecct-5-line {
                    width: 96% !important;
                }
            }
        }

        .ssect6 {
            gap: 20px !important;
            justify-content: space-between !important;

            .ssect6-liine {
                width: 100%;
                margin-top: 50px !important;
                border-bottom: 2px solid #000 !important;
            }

            .ssect-6-cards {
                margin-top: 30px !important;
                width: 44% !important;

                .new-cards- {
                    height: 556px !important;
                }

                .line-line-cards {
                    margin-top: 30px !important;
                }

                .title-cardss {
                    margin-top: 30px !important;
                    font-size: 27.2px !important;
                }

                .asdfg {
                    width: 126px !important;
                    font-size: 21px !important;
                    height: 46px !important;
                    top: calc(50% - 75px) !important;
                    left: calc(50% - 69px) !important;
                }
            }
        }
    }
}
