.CoinPurse-ui {
    width: 100%;
    position: relative;
    padding: 75px 11px 0;
    // height: 100vh;

    @media (min-width: 1000px) {
        padding: 0 50px;
    }

    @media (min-width: 1024px) and (max-width: 1299px) {
        padding-top: 75px;
    }

    .bg-vg {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 800px;
        background-image: url(../../../assets//Auth//bg_monedero_p.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .bg-white1 {
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
            width: 100%;
            height: 578px;
        }

        @media (min-width: 1000px) {
            top: 0;
        }
    }

    .los-title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 18.4px;
        color: #ffffff;
        font-weight: bold;
        height: 100px;
        align-items: center;

        @media (min-width: 1000px) {
            height: 120px;
            font-size: 27.6px;
            // flex-direction: revert;
            align-items: center;
        }
    }

    .cnt-cards {
        width: 100%;
        height: 100vh;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        @media (min-width: 1000px) {
            height: 747px;
            gap: 97px;
            padding-top: 70px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        .secct1 {
            width: 100%;
            display: flex;
            gap: 20px;
            flex-direction: column;

            @media (min-width: 1000px) {
                width: 375px;
            }

            .cnt-card {
                border-radius: 20px;
                width: 100%;
                height: 227px;
                background-image: url(/images/bg_monedero.jpg?020545f93f9b1cf65d97978205129261);
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 23px;

                @media (min-width: 1000px) {
                    height: 270px;
                }

                .cnt-img {
                    width: 57px;
                    height: 48px;

                    .img-g {
                    }
                }

                .detail-saldo {
                    font-size: 14.72px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 53px;

                    .price-total {
                        font-weight: bold;
                        font-size: 18.4px;
                    }
                }
            }

            .new-methodPay {
                width: 100%;
                height: 40px;
                border-radius: 20px;
                background: linear-gradient(
                    120deg,
                    #3a8dde 3%,
                    #8331a7 47%,
                    #df1683 100%
                );
                font-size: 12.88px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }

        .secct2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;

            @media (min-width: 1000px) {
                width: 480px;
            }

            .my-methods {
                font-size: 14.72px;
                color: #3b3b3b;

                @media (min-width: 1000px) {
                    padding-left: 32px;
                }
            }

            .cnt-methodsPayd {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .cnt-cnts{
                    width: 100%;
                    max-height: 145px;
                    overflow: auto;
                    border-bottom: 1px solid #df1683;
                    padding-bottom: 27px;
                    padding: 5px 5px 21px 5px;

                    .conatiner-pays-s{
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
    
                        .small-cards-s {
                            width: 100%;
                            height: 50px;
                            border-radius: 15px;
                            background: #ffffff;
                            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px 0 20px;
        
                            .block1 {
                                width: 100%;
                                display: flex;
                                gap: 16px;
                                align-items: center;
        
                                .cnt-visa {
                                    width: 41px;
                                    height: 25px;
    
                                    &.pay-pal{
                                        width: 28px;
                                        height: 28px;
                                    }
        
                                    .visa-m {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
        
                                .dtas-inf {
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 11.04px;
                                    color: #8a8a8a;
                                }
                            }
                            .block2 {
                                width: 25px;
                                height: 25px;
                                cursor: pointer;
                            }
                        }
    
                       
                    }

                    &.paypa-l{
                        border: none;
                    }
                }


            }
        }
    }
}
