.Header {
    height: 65px;
    width: 100%;
    padding: 5px 20px 5px 5%;
    // background: linear-gradient(120deg, #3a8dde 3%, #8331a7 47%, #df1683 100%);;
    background-color: #faf7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 105;

    .Header-logo {
        width: 51px;
    }
    .HeadSide {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        transition: all 0.5s;
        display: flex;
        z-index: 5;

        &.OpenSide {
            right: 0;
        }

        .side-black {
            background: rgba(0, 0, 0, 0.5);
            // width: 160px;
            width: 43%;
            height: 100vh;
        }

        .side-color {
            padding: 22px 22px 20px 25px;
            // width: 215px;
            width: 60%;
            height: 100vh;
            background: linear-gradient(
                -120deg,
                #3a8dde 3%,
                #8331a7 47%,
                #df1683 100%
            );
            .Side-close {
                display: flex;
                justify-content: flex-end;
            }

            .Side-links {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: #fff;
                font-size: 12.88px;
                font-family: "Metropolis";
                margin-top: 19px;
                gap: 29px;
            }

            .Side-white-links{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: #3b3b3b;
                font-size: 12.88px;
                font-family: "Metropolis";
                margin-top: 19px;
                gap: 29px;
            }

            .side-btns {
                height: calc(100vh - 198px);
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: flex-end;

                .border {
                    height: 40px;
                }

                .border-color {
                    width: 171px;
                    height: 40px;
                }
            }
        }
    }

    .header-right {
        display: none;
        gap: 284px;
        align-items: center;
        width: 620px;
        margin-right: 150px;

        .enlaces-header {
            display: flex;
            gap: 54px;
            font-size: 14.72px;
            color: #fff;
            font-family: "Metropolis";
            margin-right: 20px;
        }

        .newEnlaces-header {
            display: flex;
            gap: 54px;
            font-size: 14.72px;
            color: #3b3b3b;
            font-family: "Metropolis";
            margin-right: 20px;
        }
    }
}

.bgColorA {
    background: rgb(250, 247, 247);
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
    .Header {
        height: 90px;
        display: flex;
        justify-content: space-between;

        .Header-logo {
            width: 79px;
        }
        .navA {
            display: none;
        }
        .header-right {
            width: 779px;
            display: inline-flex;
        }

        .linkA {
            font-family: "Metropolis" !important;
            font-size: 14.72px !important;
            cursor: pointer !important;

            &:hover {
                color: #df1683 !important;
            }
        }

        .h-return {
            width: 233px !important;
            position: relative !important;
            overflow: hidden !important;
            border-radius: 30px !important;
            z-index: 1 !important;

            .border {
                height: 50px !important;
                font-size: 14.72px !important;

                &:hover {
                    border: 2px solid #df1683;
                }

                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: calc(-100% - 80px);
                    border-bottom: 80px solid #df1683;
                    transition: 0.4s ease-in-out all;
                }

                &:hover::after {
                    right: 0;
                }
            }

            .border-color {
                height: 50px !important;
                font-size: 14.72px !important;

                &:hover {
                    border: 2px solid #df1683;
                    color: #fff !important;
                }

                &::after {
                    content: "" !important;
                    
                    width: 100% !important;
                    position: absolute;
                    z-index: -1 !important;
                    top: 0 !important;
                    right: calc(-100% - 80px) !important;
                    border-bottom: 80px solid #df1683 !important;
                    transition: 0.4s ease-in-out all !important;
                }

                &:hover::after {
                    right: 0 !important;
                }
            }
        }
    }
}
