* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #7f7f7f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
@media screen and (max-width: 1000px) {
    *::-webkit-scrollbar {
       display: none;
    }
}

body.noScrollBar::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    border-radius: 10px;
    border: 0 solid #ffffff;
}

@font-face{
    font-family: 'Metropolis';
    src: local('Metropolis'), url(../../assets/fonts/metropolis/Metropolis-Regular.otf) format('truetype');
}
body{
    font-family: "Metropolis", sans-serif;
}
.p-datepicker table td > span.p-highlight {
    background: #df1683;
    color: #ffb9df;
}
.Guest .AuthView {
    padding-top: 90px;

    &.newClassAuthView{
        padding-top: 66px;
    }
}