.Map {
    @media screen and (max-width: "1000px") {
        // margin: 20px 20px 20px 100px !important;
        width: 100% !important;
    }

    @media screen and (max-width: "480px") {
        margin: 0 auto !important;
        padding: 20px 0;
    }

    width: 100%;
    padding: 20px;
    position: relative;

    .searchMap {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 86px;
        left: 40px;
        z-index: 500;
    }

    .SearchMap {
        @media screen and (min-width: "1300px") {
            width: 290px !important;
        }

        @media screen and (max-width: "768px") {
            margin-bottom: -72px !important;
            margin-left: -12px !important;
            width: 80% !important;
        }
        @media screen and (max-width: "480px") {
            margin-left: 38px !important;
        }
    }

    .InputSearch {
        position: relative !important;
        max-width: 500px !important;
        width: 100% !important;
    }

    .InputSearch .input-shadowS {
        border-radius: 0px;
        display: flex;
        justify-content: left !important;
        max-width: 500px !important;
        background-color: rgba(255, 255, 255, 0);
        width: 100% !important;
        flex-direction: row;
        align-items: center;
        position: relative;

        input {
            @media screen and (max-width: "1200px") {
                width: 500px !important;
            }

            @media screen and (max-width: "478px") {
                width: 400px !important;
            }

            @media screen and (max-width: "480px") {
                width: 228px !important;
                padding: 0 5px !important;
            }

            width: 600px !important;
            height: 40px;
            opacity: 0.8;
            padding: 0px 50px 0 20px;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            background-size: cover;
            font-family: "Karla";
            font-size: 12px;
            color: #000000;
        }

        img {
            position: absolute !important;
            right: 20px;
        }
    }

    .searchMarker {
        @media screen and (max-width: "768px") {
            flex-direction: column;
        }

        @media screen and (max-width: "480px") {
            flex-direction: column;
            justify-content: flex-start;
        }

        display: flex;
        position: absolute;
        justify-content: space-between;
        padding-right: 40px;
        gap: 20px;
        top: 31px;
        z-index: 500;

        .container_sM {
            width: 180px;
            height: 40px;
            border: 1px solid #d54c4c;
            border-radius: 50px;
            background-size: cover;
            background-color: white;
            font-family: ProximaNova;
            font-size: 14px;
            color: #d54c4c;
            text-decoration: none solid rgb(213, 76, 76);
            text-align: center;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }

    .filters {
        @media screen and (max-width: "768px") {
            margin-top: 65px !important;
        }

        display: flex;

        .p-carousel-container {
            @media screen and (max-width: "768px") {
                max-width: 680px !important;
            }

            @media screen and (max-width: "480px") {
                max-width: 330px !important;
            }

            max-width: 900px !important;
            width: 100% !important;
        }

        .p-carousel .p-carousel-content .p-carousel-prev,
        .p-carousel .p-carousel-content .p-carousel-next {
            color: #df1683 !important;
            background: #faf7f7 !important;
        }

        .p-carousel-indicators {
            display: none !important;
        }

        .p-carousel {
            margin-top: 4px !important;
        }
    }

    .filtersCard {
        position: absolute;
        bottom: 20px;
        display: flex;
        z-index: 999;

        .p-carousel-container {
            @media screen and (max-width: "1920px") {
                width: 50% !important;
                max-width: max-content !important;
            }

            max-width: 1450px !important;
            width: 100% !important;
        }

        .p-carousel-items-container {
            @media screen and (max-width: "480px") {
                gap: 5px;
            }
            gap: 20px !important;
            height: 400px !important;
        }

        .p-carousel .p-carousel-content .p-carousel-prev,
        .p-carousel .p-carousel-content .p-carousel-next {
            color: #faf7f7;
            background: #df1683;
            position: relative;
            top: 135px;
            height: 100px !important;
            width: 36px !important;
            border-radius: 20px !important;
        }

        .p-carousel-indicators {
            display: none !important;
        }

        .p-carousel {
            margin-top: 4px !important;
        }

        .p-disabled {
            color: #faf7f7 !important;
            background: #8a8a8a !important;
        }

        .p-carousel[pr_id_2] .p-carousel-item {
            flex: 1 0 20% !important;
        }

        .p-items-hidden .p-carousel-item {
            visibility: initial !important;
        }
    }
}

.cardFilters {
    @media screen and (max-width: "768px") {
        width: 140px;
    }
    @media screen and (max-width: "480px") {
        width: 110px;
        gap: 5px;
    }

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: #bababa;
    background-size: cover;
    cursor: pointer;

    p {
        font-family: Metropolis;
        font-size: 12px;
        color: #ffffff;
        text-decoration: none solid rgb(255, 255, 255);
    }
}

.cardFilters2 {
    display: flex;
    gap: 20px;
    width: 395px;
    height: 135px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    top: 250px;

    img {
        width: 114px;
        height: 114px;
        border-radius: 15px;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-family: Metropolis;
            font-size: 15px;
            color: #3b3b3b;
            font-weight: 600;
        }

        span {
            font-family: Metropolis;
            font-size: 11px;
            color: #3b3b3b;
            line-height: 14px;
            font-weight: 600;
            text-align: justify;
        }

        .star {
            display: flex;
            justify-content: space-between;

            strong {
                font-family: Metropolis;
                font-size: 16px;
                color: #df1683;
            }
        }
    }
}

.cardFilters3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 355px;
    height: 373px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    padding: 25px;
    position: relative;
    bottom: -10px;
    align-items: center;

    img {
        width: 332px;
        height: 162px;
        border-radius: 15px;
        object-fit: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-family: Metropolis;
            font-size: 15px;
            color: #3b3b3b;
            font-weight: 600;
        }

        span {
            font-family: Metropolis;
            font-size: 11px;
            color: #3b3b3b;
            line-height: 14px;
            font-weight: 600;
            text-align: justify;
        }

        .star {
            display: flex;
            justify-content: space-between;

            strong {
                font-family: Metropolis;
                font-size: 16px;
                color: #df1683;
            }
        }
    }
}
