.TermsAndConditions{
    width: 100%;
    padding: 75px 11px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    @media (min-width: 1000px) {
        padding: 17px 50px 0;
        height: 922px;
    }

    .backColor {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 800px;
        z-index: -1;
        background: linear-gradient(
            90deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );

        @media (min-width: 1000px) {
            top: 0;
        }

        .backWhite {
            width: 100%;
            height: 578px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .TermsTitle{
        height: 20px;
        font-family:'Metropolis';
        font-size: 20px;
        color: #ffffff;
        padding: 49px 23px;
        text-align: center;
        font-weight: 900;

        @media (min-width: 1000px) {
            padding: 20px 23px 46px;
        }

        .Return{
            position: absolute;
            top: 86px;
            left: 10px;

            @media (min-width: 1000px){
                top: 30px;
                left: 48px;
                cursor: pointer;
            }
        }
    }

    .ContainerTerms{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: #ffffff;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        font-family: 'Metropolis';
        font-size: 14px;
        color: #8a8a8a;
        line-height: 16px;
        text-align: justify;
        overflow: auto;

        .insideTerms{
            @media (min-width: 1000px){
                width: 59%;
            }
        }

        @media (min-width: 1000px) {
            display: flex;
            justify-content: center;
            overflow: unset;
        }
    }
}