.Legal {
    width: 100%;
    padding: 75px 11px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    @media (min-width: 1000px) {
        padding: 17px 50px 0;
    }

    .backColor {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 800px;
        z-index: -1;
        background: linear-gradient(
            90deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );

        @media (min-width: 1000px) {
            top: 0;
        }

        .backWhite {
            width: 100%;
            height: 578px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .TitleLegal {
        width: 100%;
        height: 74px;
        font-family: "Metropolis";
        font-size: 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        @media (min-width: 1000px) {
            height: 106px;
        }
    }

    .ContainerLegal {
        width: 100%;
        height: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: #ffffff;
        padding: 24px 20px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        cursor: pointer;

        @media (min-width: 1000px){
            padding: 88px 20px;
            gap: 16px;
        }

        .ContainerTerms {
            display: flex;
            width: 100%;
            height: 53px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
            flex-direction: row;
            align-items: center;
            gap: 3px;
            padding-left: 19px;

            @media (min-width: 1000px) {
                width: 53%;
            }
            &:hover {
                background-color: #faf7f7;
            }
        }

        .Law {
            width: 30px;
            height: 30px;
        }

        .TextTerms {
            font-family: "Metropolis";
            font-size: 14px;
            color: #8a8a8a;
        }

        .ContainerPolicies {
            display: flex;
            width: 100%;
            height: 53px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
            flex-direction: row;
            align-items: center;
            gap: 3px;
            padding-left: 19px;
            cursor: pointer;

            @media (min-width: 1000px) {
                width: 53%;
            }
            &:hover {
                background-color: #faf7f7;
            }
        }

        .policies {
            width: 30px;
            height: 30px;
        }

        .TextPolicies {
            font-family: "Metropolis";
            font-size: 14px;
            color: #8a8a8a;
        }

        .ContainerQuestions {
            display: flex;
            width: 100%;
            height: 53px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
            flex-direction: row;
            align-items: center;
            gap: 3px;
            padding-left: 19px;
            cursor: pointer;

            @media (min-width: 1000px) {
                width: 53%;
            }

            &:hover {
                background-color: #faf7f7;
            }
        }

        .questions {
            width: 30px;
            height: 30px;
        }

        .TextQuestions {
            font-family: "Metropolis";
            font-size: 14px;
            color: #8a8a8a;
        }
    }
}

@media (min-width: 1000px) {
    .ContainerTerms {
        width: 63%;
    }

    .ContainerPolicies {
        width: 63%;
    }

    .ContainerQuestions {
        width: 63%;
    }
}
