.Start {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;

    .sform1 {
        width: 100%;
        padding: 0 41px;

        .s-title {
            font-family: "Metropolis";
            font-size: 18.4px;
            color: #3b3b3b;
            text-decoration: none solid rgb(59, 59, 59);
            line-height: 30px;
            text-align: center;
            margin-bottom: 4px;
            font-weight: bold;
        }
        .s-text {
            font-family: "Metropolis";
            font-size: 12.88px;
            color: #8a8a8a;
            text-decoration: none solid rgb(138, 138, 138);
            line-height: 1px;
            text-align: center;
        }

        .sform-1-container {
            margin-top: 27px;
            display: flex;
            flex-direction: column;
            gap: 17px;

            .degradado {
                height: 40px;
            }

            .border-color {
                color: #df1683;
                font-weight: bold;
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
    .Start {
        padding-top: 90px !important;
        .sform1 {
            width: 332px !important;

            .s-title {
                font-size: 18.4px !important;
            }
            .s-text {
                font-size: 12.88px !important;
            }

            .sform-1-container {
                .degradado {
                    font-size: 12.88px !important;
                }

                .border-color {
                    font-size: 12.88px !important;
                }
            }
        }
    }
}
