.marker-icon{
    .c_icon{
        position: relative;
        display: grid;
        place-items: center;
        z-index: 999;
        width: 100px !important;
        height: 70px !important;
    }
}
.zoom{
   transform: scaleX(1.5) scaleY(1.5);
   transition: transform .2s linear;
}
.offZoom{
   transform: scaleX(1) scaleY(1);
   transition: transform .2s linear;
}