.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 65px;

    .lsecct1 {
        width: 100%;
        padding: 0 28px;

        .lsecct-1-titltles {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .lsecct-1-title {
            font-family: "Metropolis";
            font-size: 18.4px;
            color: #3b3b3b;
            line-height: 30px;
        }
        .lsecct-1-sub-title {
            font-family: "Metropolis";
            font-size: 12.88px;
            color: #8a8a8a;
            line-height: 1px;
            margin-top: 7px;
        }

        .lsecct-1-form {
            .lsecct-1-check {
                margin-top: 18px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .lsecct-1-remem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .checkbox-login {
                        cursor: pointer;
                        background-color: #fff;
                        width: 15px;
                        height: 15px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: 1px solid #888;
                        border-radius: 50%;
                    }

                    .checkbox-login:checked {
                        background: linear-gradient(
                            120deg,
                            #3a8dde 3%,
                            #8331a7 47%,
                            #df1683 100%
                        );
                    }

                    .lsecct-1-text-reme {
                        font-family: "Metropolis";
                        font-size: 11.4px;
                        color: #000000;
                    }
                }

                .lsecct-1-forgot {
                    font-family: "Metropolis";
                    font-size: 11.4px;
                    color: #000000;
                }
            }

            .lsecct-1-btns {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 37px;

                .degradado {
                    height: 40px;
                    width: 278px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
    .Login {
        padding-top: 90px;
        .lsecct1 {
            width: 360px !important;

            .lsecct-1-title{
                font-weight: bold;
            }

            .lsecct-1-btns {
                .degradado {
                    width: 278px !important;
                }
            }
        }
    }
}
