.Contact-Better{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    .bg-vg {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 800px;
        background: linear-gradient(54deg, #3a8dde 3%, #8331a7 47%, #df1683 100%);

        .bg-white1 {
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100% );
            width: 100%;
            height: 578px;
        }

        @media (min-width: 1000px) {
            top: 0;
        }
    }


    .cnt-txt{
        width: 100%;
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1000px) {
            font-size: 28px;
        }

    }

    .cardBody-Better{
        
        height: 100vh;
        width: 90%;
        padding: 0 7px;

        @media (min-width: 1000px) {
            padding: 0 46px;
            height: 760px;
        }

        .bg-cardWhite-t{
            width: 100%;
            height: 100%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background: #fff;
            padding: 21px 11px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (min-width: 1000px) {
                align-items: center;
                padding: 59px 0 0;
                gap: 46px;
            }
        }
    }
}


