.Receipt {
    width: 100%;
    position: relative;
    padding: 75px 11px 0;
    // height: 100vh;

    @media (min-width: 1000px) {
        padding: 0 50px;
    }

    .bg-vg {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 800px;
        background: linear-gradient(
            54deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );

        .bg-white1 {
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
            width: 100%;
            height: 578px;
        }

        @media (min-width: 1000px) {
            top: 0;
        }
    }

    .los-title {
        width: 100%;
        height: 68px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18.4px;
        color: #ffffff;

        @media (min-width: 1000px) {
            height: 120px;
            font-size: 27.6px;
        }

        .cnt-return {
            position: absolute;
            top: 10px;
            left: 13px;

            @media (min-width: 1000px) {
                top: calc(50% - 20px);
            }
        }
    }

    .cnt-cards {
        width: 100%;
        // height: 747px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 25px 11px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        @media (min-width: 1000px) {
            align-items: center;
            height: 747px;
        }

        .cnt-sttus {
            width: 100%;
            display: flex;
            justify-content: center;

            .cnacelStatus {
                width: 100%;
                height: 49px;
                font-size: 14.7px;
                color: #de0b0b;
                border-radius: 20px;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

                @media (min-width: 1000px) {
                    width: 698px;
                }
            }
        }

        .reagendadStatus {
            width: 100%;
            height: 78px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #ffffff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

            @media (min-width: 1000px) {
                width: 698px;
            }

            .se-1 {
                font-size: 14.72px;
                color: #df1683;

                &.an{
                    color: #ff0000;
                }
            }
            .se-2 {
                font-size: 11.04px;
                color: #8a8a8a;
                font-weight: 900;

                &.regul {
                    text-align: center;
                    padding: 0 64px;
                    font-weight: 100;
                }
            }
        }

        .cnt-whiteCard-l {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (min-width: 1000px) {
                width: 700px;
                flex-direction: row;
            }

            .w-whiteCard {
                display: flex;
                flex-direction: column;
                gap: 28px;
                padding: 38px 28px;
                height: 409px;

                &.displayCancel {
                    display: none;
                }

                .cnt-qr {
                    width: 100%;
                    height: 268px;

                    .qr {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .cnt-btn-watch {
                    display: flex;
                    justify-content: space-between;

                    .solid {
                        width: 122px;
                        height: 35px;
                    }

                    .saw-info {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 15px;
                        background: #fff;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                    }
                }

                @media (min-width: 1000px) {
                    width: 325px;
                }
            }

            .cnt-two-l {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &.changeOrient {
                    @media (min-width: 1000px) {
                        flex-direction: row-reverse;
                    }
                }

                .w-card-b {
                    width: 100%;
                    height: 298px;
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    padding: 24px;

                    .secct1 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 11px;

                        .sect-title {
                            font-family: "Metropolis";
                            font-size: 11.04px;
                            color: #8a8a8a;
                            font-weight: bold;
                        }

                        .secct1-inside {
                            font-family: "Metropolis";
                            font-size: 11.04px;
                            color: #8a8a8a;
                            padding-left: 11px;
                            display: flex;
                            flex-direction: column;
                            gap: 11px;
                        }
                    }

                    .secct2 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        margin-top: 15px;

                        .sect2-title {
                            font-family: "Metropolis";
                            font-size: 11.04px;
                            color: #8a8a8a;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            gap: 11px;
                        }

                        .secct2-inside {
                            font-family: "Metropolis";
                            font-size: 11.04px;
                            color: #8a8a8a;
                            padding-left: 11px;
                            display: flex;
                            flex-direction: column;
                            gap: 11px;
                        }
                    }

                    .secct3 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 17px;
                        margin-top: 18px;

                        .secct3-a {
                            display: flex;
                            gap: 8px;
                            font-family: "Metropolis";
                            font-size: 11.04px;
                            color: #8a8a8a;
                            align-items: center;
                        }

                        .secct3-b {
                            width: 100%;
                            border-top: 1px solid #e0e0e0;
                            height: 40px;
                            font-size: 11.04px;
                            color: #8a8a8a;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .price {
                                font-family: "Metropolis";
                                font-size: 14.72px;
                                color: #df1683;
                                font-weight: bold;
                            }
                        }
                    }

                    @media (min-width: 1000px) {
                        width: 354px;
                    }
                }

                .cnt-smallCards {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .w-card-c {
                        height: 94px;
                        font-family: "Metropolis";
                        font-size: 11.04px;
                        color: #8a8a8a;
                        display: flex;
                        flex-direction: column;

                        display: flex;
                        flex-direction: column;
                        gap: 13px;
                        padding: 20px;

                        .secct1 {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .secct1-a {
                                height: 100%;

                                .visa-x {
                                    width: 25px;
                                    height: 25px;
                                }
                            }

                            .secct-b {
                                display: flex;
                                flex-direction: column;
                                .name-pay {
                                }
                            }
                        }

                        @media (min-width: 1000px) {
                            width: 354px;
                        }
                    }

                    .w-card-d {
                        height: 115px;
                        width: 100%;
                        border-radius: 20px;
                        background: #ffffff;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 14px;

                        @media (min-width: 1000px) {
                            width: 354px;
                        }

                        .renbol-l {
                            font-size: 18px;
                            color: #3b3b3b;
                            font-weight: bold;
                        }

                        .cnt-labels {
                            display: flex;
                            flex-direction: column;
                            gap: 7px;

                            .l-one {
                                font-size: 11.04px;
                                color: #8a8a8a;

                                .l-three {
                                    font-size: 11.04px;
                                    color: #b4bd00;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
