.RegisterInfo {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 65px;

    .line-change {
        position: absolute;
        top: 0;
        left: 0;
        height: 7px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 50%;
        background: linear-gradient(
            120deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );
    }

    .infobody {
        width: 100%;
        padding: 62px 20px 55px 20px;

        .yscect1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .ysecct-1-title {
                font-family: "Metropolis";
                font-size: 18.4px;
                color: #3b3b3b;
                text-align: center;
            }

            .ysecct-1-sub {
                font-family: "Metropolis";
                font-size: 12.88px;
                color: #8a8a8a;
                text-align: center;
                margin-top: 8px;
            }

            .ysecct-1-back {
                width: 30px;
                height: 30px;
                background-color: #df1683;
                top: -7px;
                right: 0px;
            }

            .ysecct-1-container-bg {
                margin-top: 30px;
                width: 85px;
                height: 85px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .ysecct-1-circle {
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    box-shadow: inset 2px 1px 5px rgba(0, 0, 0, 0.12);
                    border-radius: 50%;
                }

                .ysecct-width-pencil {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .ysecct2 {
            padding: 0 8px;

            .ysecct-2-gender {
                display: flex;
                gap: 27px;
            }
        }
        .ysecct3 {
            margin-top: 50px;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            // margin-bottom: 55px;

            .white {
                width: 158px;
                height: 40px;
            }

            .degradado {
                width: 158px;
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
    .RegisterInfo {
        padding-top: 90px;
        .infobody {
            width: 447px;
            padding: 101px 0;

            .ysecct2{
                padding: 0 43px;
            }

            .ysecct3 {
                .white {
                    width: 194px !important;
                    height: 40px !important;
                }
                
                .degradado {
                    width: 194px !important;
                    height: 40px !important;
                }
            }
        }
    }
}
