.Levels{
    width: 100%;
    padding: 75px 11px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (min-width: 1000px) {
        padding: 75px 48px 0;
    }

    .backColor {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 800px;
        z-index: -1;
        background: linear-gradient(
            90deg,
            #3a8dde 3%,
            #8331a7 47%,
            #df1683 100%
        );

        @media (min-width: 1000px) {
            top: 0;
        }

        .backWhite {
            width: 100%;
            height: 578px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .TitleLevel{
        height: 20px;
        font-family:'Metropolis';
        font-size: 20px;
        color: #ffffff;
        padding: 49px 23px;
        text-align: center;
        font-weight: 900;

        @media (min-width: 1000px) {
            padding: 0px 23px 46px;
        }

        .Return{
            position: absolute;
            top: 86px;
            left: 10px;

            @media (min-width: 1000px){
                top: 39px;
                left: 48px;
                cursor: pointer;
            }
        }
    }

    .ContainerLevel{
        width: 100%;
        height: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: #ffffff;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        padding: 27px 11px;

        @media (min-width: 1000px){
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 11px;
        }

        .CardLevel{
            width: 335px;
            height: 330px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            background-color: #faf7f7;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 45px 17px;
            justify-content: space-between;

            .ImageLevel{
                width: 86px;
                height: 86px;

                .Level{
                    width: 100%;
                    height: 100%;
                }
            }

            .Level{
                .TextLevel{
                    font-family: 'Metropolis';
                    font-size: 16px;
                    color: #df1683;
                    text-align: center;
                    font-weight: 900;
                }
            }

            .Details{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .TitleDetails{
                    font-family: 'Metropolis';
                    font-size: 12px;
                    color: #8a8a8a;
                    text-align: center;
                }

                .TextDetails{
                    width: 279px;
                    font-family: 'Metropolis';
                    font-size: 12px;
                    color: #3b3b3b;
                    text-align: justify;
                }
            }

            .LineWhite{
                width: 290px;
                height: 1px;
                background-color: #ffffff;
            }

            .ProgressBar{
                width: 289.8px;
                display: flex;
                flex-direction: column;
                gap: 11px;
                margin-top: 3px;

                .TextPoints{
                    display: flex;
                    justify-content: flex-end;
                    font-family: 'Metropolis';
                    font-size: 11px;
                    color: #8a8a8a;
                }
                .barra{
                width: 289.8px;
                height: 8.28px;
                }
                .p-progressbar-determinate .p-progressbar-value-animate {
                    background: linear-gradient(120deg, #3a8dde 3%, #8331a7 47%, #df1683 100% );
                }
            }
        }

        .TitleLevels{
            display: flex;
            position: relative;
            flex-direction: column;

            .TextLevels{
                font-family: 'Metropolis';
                font-size: 16px;
                color: #8a8a8a;
                text-align: center;
                font-weight: 900;
                margin-top: 59px; 
            }

            .ButtonChange{
                width: 35px;
                height: 35px;
                border-radius: 20px;
                background-color: #df1683;
                background-size: cover;
                position: absolute;
                top: 11px;
                display: flex;
                left: 291px;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media (min-width: 1000px){
                    top: 49px;
                    left: 445px;
                }

                img{
                    width: 26px;
                    height: 26px;
                }
            }
        }

        .ContainerCards{
            padding: 47px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (min-width: 1000px){
                display: flex;
                flex-wrap: wrap;
                width: 90%;
                flex-direction: row;
                justify-content: center;
            }
        }


        .ContainerTable{
            overflow: auto;
            margin-top: 47px;
            width: 335px;
            height: 457px;
            border-radius: 15px;
            background: #ffffff;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
            padding: 40px 11px 45px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 1000px){
                width: 92%;
                height: 100%;
                margin-bottom: 25px;
            }

            .TitleTable{
                width: 110px;
                height: 14px;
                font-family: 'Metropolis';
                font-size: 14px;
                color: #8a8a8a;
                text-decoration: none solid rgb(138, 138, 138);
                text-align: center;
                margin-bottom: 29px;
            }
        }
    }
}