.title-area {
    font-family: "Metropolis";
    font-size: 12px;
    color: #8a8a8a;
    text-decoration: none solid rgb(138, 138, 138);
    padding-left: 30px;
    margin-top: 31px;
    margin-bottom: 5px;
  }
  
  
  .container-textarea {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;

    .textarea {
        width: 100%;
        resize: none;
        height: 100%;
        padding: 15px 15px;
        border-radius: 20px;
        background-color: #ffffff;
        outline: none;
        font-family: "Metropolis";
        font-size: 12px;
        color: #000000;
        text-decoration: none solid rgb(0, 0, 0);
        box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.12);
        border: 1px solid #fff;
        cursor: pointer;
      }
  }
  
 