.ShowFavorites {
    width: 100%;
    background: linear-gradient(90deg, #3a8dde 3%, #8331a7 47%, #df1683 100%);
    padding-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .j-baxk {
        height: 63px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 17px 16px 0;
    }

    .cards-show {
        width: 90%;
        margin-top: 17px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #ffffff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        padding-bottom: 48px;

        .cont-img-c {
            padding: 20px 11px 0;
        }

        .btn-bg {
            width: 231px;
            border-radius: 20px;
            background: #ffffff;
            padding: 8px 7px;
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

            .solid {
                width: 217px;
                height: 40px;
            }
        }

        .BeIcons {
            margin-top: 30px;
        }

        .Share-conds {
            width: 100%;
            margin-top: 21px;
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            gap: 17px;

            .warning {
                display: flex;
                justify-content: space-between;

                .recommendedz {
                    width: 153px;
                    height: 41px;
                    border-radius: 15px;
                    fill: #faf7f7;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                    font-size: 11.04px;
                    color: #3b3b3b;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    padding: 0 5px 0 12px;
                    gap: 11px;

                    .rewards-medail {
                        width: 22px;
                        height: 25px;
                    }

                    .quotas {
                        font-size: 16px;
                        color: #df1683;
                        font-weight: 500;
                    }
                }

                .shareS {
                    width: 40px;
                    height: 40px;
                    background: #faf7f7;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .DownPdf{
                    width: 40px;
                    height: 40px;
                    background: #faf7f7;
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .border-color {
                    width: 160px;
                    height: 40px;
                    font-size: 11.04px;
                    font-weight: 500;
                }
            }
        }

        .class-body {
            width: 100%;
            margin-top: 33px;

            .secct1 {
                width: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 11px;
                padding: 0 9px;

                .Title {
                    font-size: 16.56px;
                    color: #3b3b3b;
                    font-weight: bold;
                }
                .star-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .star {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        .commeNumber {
                            font-size: 10.12px;
                            color: #3b3b3b;
                        }
                    }

                    .price {
                        font-size: 14.72px;
                        color: #df1683;
                        font-weight: bold;
                    }
                }

                .title-descr {
                    font-size: 11.04px;
                    color: #3b3b3b;
                }
                .description {
                    font-size: 11.04px;
                    color: #3b3b3b;
                    line-height: 14px;
                    text-align: justify;
                }
            }

            .secct2b {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 27px;
                padding: 0 9px;
                gap: 47px;

                .block-as {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    .title3-category {
                        font-size: 14px;
                        color: #3b3b3b;
                        font-size: 12.88px;
                        font-weight: bold;
                    }

                    .ctn-tick {
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;

                        .block-categorys {
                            padding: 0px 20px;
                            height: 30px;
                            border-radius: 20px;
                            background-color: #ffffff;
                            font-family: Metropolis;
                            font-size: 11.04px;
                            color: #df1683;
                            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 7px;

                            &.subCat {
                                color: #8331a7;
                            }

                            .ctg-icon {
                                width: 16px;
                                height: 18px;

                                &.cat {
                                    filter: invert(21%) sepia(73%)
                                        saturate(5285%) hue-rotate(315deg)
                                        brightness(89%) contrast(96%);
                                }
                            }
                        }
                    }
                }
            }

            .secct3b {
                font-size: 12.88px;
                color: #3b3b3b;
                font-weight: bold;
                margin-top: 31px;

                display: flex;
                flex-direction: column;
                gap: 13px;
                padding: 0 9px;

                .anfintriones-block {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .ctn-img-fs {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;

                        .fs-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .ctn-labels-fs {
                        display: flex;
                        flex-direction: column;

                        .fs-tile {
                            font-size: 14.72px;
                            color: #3b3b3b;
                            font-weight: bold;
                        }

                        .fs-lenguages {
                            font-size: 14.72px;
                            color: #df1683;
                            font-weight: 500;
                        }
                    }
                }
            }

            .services3b {
                width: 100%;
                width: 100%;
                margin-top: 27px;
                display: flex;
                flex-direction: column;
                padding: 0 9px;
                gap: 6px;

                .svc-title {
                    font-size: 12.88px;
                    font-weight: bold;
                    color: #3b3b3b;
                }

                .ctn-tikers {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    // justify-content: center;

                    .ticket-ser {
                        height: 40px;
                        padding: 0 15px;
                        border: 1px solid #e0e0e0;
                        border-radius: 20px;
                        background-color: #ffffff;
                        font-size: 11.04px;
                        color: #8a8a8a;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                    }
                }
            }

            .secct4b {
                width: 100%;
                padding: 0 9px;
                margin-top: 31px;

                .box-schedule {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 21px;

                    .title-sched {
                        font-size: 12.88px;
                        color: #3b3b3b;
                        font-weight: bold;
                    }

                    .mini-card {
                        width: 186px;
                        height: 43px;
                        border-radius: 15px;
                        background: #faf7f7;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .icon-schedu {
                            width: 25px;
                            height: 25px;
                        }

                        .time-est {
                            font-size: 10.12px;
                            color: #3b3b3b;
                            font-weight: 600;
                            width: 97px;
                        }

                        .time-curret {
                            font-size: 14.72px;
                            color: #8a8a8a;
                            font-weight: bold;
                        }
                    }
                }

                .schedule-Day {
                    width: 100%;
                    margin-top: 24px;
                    display: flex;
                    gap: 9px;
                    flex-direction: column;

                    .box-min {
                        width: 100%;
                        display: flex;
                        gap: 23px;

                        .daysx {
                            font-size: 11.96px;
                            /* display: flex; */
                            color: #8a8a8a;
                            font-weight: bold;
                            width: 61px;
                        }

                        .schedulehora {
                            font-size: 11.96px;
                            color: #8a8a8a;
                        }
                    }
                }
            }

            .secct5b {
                width: 100%;
                margin-top: 21px;
                display: flex;
                flex-direction: column;
                gap: 6px;

                .s5b-first {
                    width: 100%;
                    padding: 0 9px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    .location-title {
                        font-size: 11.04px;
                        color: #df1683;
                        font-weight: bold;
                    }
                    .address-ubi {
                        font-size: 10.12px;
                        color: #3b3b3b;
                    }
                }

                .map-address {
                    width: 100%;
                    height: 350px;
                }
            }
            .secct6b {
                width: 100%;
                background: #faf7f7;

                .card-opi {
                    width: 100%;
                    background: #faf7f7;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    padding: 54px 0;
                    gap: 38px;
                    justify-content: center;

                    .block-first-op {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 39px;

                        .op-alkimista {
                            font-size: 16.56px;
                            color: #3b3b3b;
                            font-weight: bold;
                        }

                        .op-sub-ali {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 9px;

                            .ctn-reward {
                                width: 25px;
                                height: 25px;
                            }

                            .label-rewars {
                                font-size: 11.04px;
                                color: #bababa;
                            }
                        }

                        .number-aliki {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            align-items: center;

                            .op-numberStar {
                                font-size: 18.4px;
                                color: #1d1d1b;
                                font-weight: bold;
                            }

                            .op-opiniones {
                                font-size: 11.04px;
                                color: #1d1d1b;
                                font-weight: 500;
                            }
                        }
                    }

                    .block-second-op {
                        width: 70%;
                        padding: 0 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 13px;

                        .calc-op {
                            display: flex;
                            gap: 20px;

                            .legends {
                                font-size: 11.04px;
                                color: #3b3b3b;
                                font-weight: 500;
                                width: 58px;
                            }

                            .p-progressbar .p-progressbar-value {
                                background: #df1683;
                                border-radius: 15px;
                            }

                            .progressBar {
                                height: 10px;
                                background: transparent;
                            }

                            .pt-number {
                                font-size: 11.04px;
                                color: #bababa;
                                font-weight: 500;
                            }
                        }

                        .white {
                            margin-top: 50px;
                            height: 40px;
                        }
                    }
                }

                .block-comments {
                    width: 100%;
                    height: 545px;
                    overflow: auto;
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 17px;

                    .chat-bloxk {
                        width: 100%;
                        padding: 25px 14px 11px 14px;
                        border-radius: 15px;
                        background: #faf7f7;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        .chat-p1 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .ctn-chat-img {
                                display: flex;
                                align-items: center;
                                gap: 12px;

                                .ctn-imgl {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;

                                    .imgl {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }

                                .star-name {
                                    .ch-name {
                                        font-size: 11.04px;
                                        color: #3b3b3b;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .ch-date {
                                font-size: 10.12px;
                                color: #bababa;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .comments {
                        font-size: 11.04px;
                        color: #3b3b3b;
                        font-weight: 500;
                        line-height: 14px;
                        text-align: justify;
                    }

                    .img-adjus {
                        width: 100%;
                        display: flex;
                        gap: 10px;

                        .ctn-adju {
                            width: 54px;
                            height: 54px;

                            .im-img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .intersarmlpxx {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-top: 44px;

                .tmb-txt {
                    font-size: 12.88px;
                    color: #3b3b3b;
                    font-weight: bold;
                    padding: 0 16px;
                }

                .cnt-int-card {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 15px;

                    .Cardxx {
                        width: 146px;

                        .CardsHome .manto-color {
                            width: 146px;
                        }

                        .solid {
                            margin-top: 9px;
                        }

                        .container-vino-txt {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .ShowFavorites {
        .cards-show {
            .btn-bg {
                width: 50%;

                .solid {
                    width: 100%;
                }
            }

            .Share-conds {
                width: 55%;

                .warning {
                    position: relative;
                    justify-content: flex-start;
                    gap: 20px;

                    .border-color {
                        position: absolute;
                        right: 0;
                        bottom: -58px;
                    }
                }
            }

            .class-body {
                display: flex;
                flex-direction: column;
                align-items: center;

                .secct1 {
                    width: 70%;
                }

                .secct2b {
                    width: 70%;
                }

                .secct3b {
                    width: 70%;
                }

                .services3b {
                    width: 70%;
                }

                .secct4b {
                    width: 70%;

                    .box-schedule {
                        .mini-card {
                            width: 290px;

                            .time-est {
                                width: unset;
                            }
                        }
                    }
                }

                .secct5b {
                    width: 70%;

                    .s5b-first {
                        .location-title {
                            font-size: 14.72px;
                        }

                        .address-ubi {
                            font-size: 12.88px;
                        }
                    }

                    .map-address {
                        height: 554px;
                    }
                }

                .secct6b {
                    display: flex;
                    justify-content: center;
                    gap: 24px;
                    margin-top: 48px;

                    .responsive-block {
                        height: 100%;
                        padding: 47px 0;

                        .card-opi {
                            width: 30.5%;
                            width: 413px;
                            height: 491px;
                            border-radius: 15px;

                            .block-second-op {
                                padding: 0 48px;
                            }
                        }
                    }

                    .block-comments {
                        width: 481px;
                        height: 589px;
                        padding: 47px 31px 47px 4px;
                    }
                }

                .intersarmlpxx {
                    width: 70%;

                    .cnt-int-card {
                        .Cardxx {
                            width: 211px;

                            .CardsHome {
                                .manto-color {
                                    width: 211px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    
}
