.FilterBar{
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // top: 51px;
    // right: 16%;
    cursor: pointer;

}
.p-slider .p-slider-range{
    background: linear-gradient(120deg, #3a8dde 3%, #8331a7 47%, #df1683 100% ) !important;
}
.p-slider.p-slider-horizontal{
    height: 5px !important;
}